vendor/
node_modules/
.git/
.env
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/logs/.gitignore
public/build
.DS_Store
tests/
